.introduccion{
    max-width: 1330px;
    margin: auto;
    margin-top: 30px;

    h2{
        font-family: arial;
        font-size: 3rem;
        text-align: center;
    }

    p{
        font-family: arial;
        text-align: justify;
        font-size: 1.5rem;
        margin: 15px 0;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 400px;

    }
}