.tiposdecafe{
   
    
    max-width: 1330px;
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid rgba(88, 38, 38, 0.74);
    
   .figures{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 15%;
    
  
    figure{
        margin-top: 20px;
        margin-bottom: 30px;
        width: 400px;
        background: rgba(31, 30, 30, 0.582);
        border-radius:10px  ; 
        box-shadow: 0 10px 10px black;
        
        div {
        img{
            position: absolute; 
            border-radius:10px 10px 0 0  ; 
            object-fit: cover;
             
        }
        h2{
            position: relative;
            top :120px;
            text-align: left;
            color: white;
            left: 55px;

        }
        }

       .description{
           margin-top: 250px;
           padding: 0 15px;
           padding-bottom: 15px;
           p{
               font-family: verdana;
               list-style:circle;
               line-height: 25px;
               text-align: justify;
               font-size: 1rem;
               color: white;
           }
         }
        }
        }
}

@media (max-width:1024px){
    .tiposdecafe{
   
    
        
       .figures{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 5%;
        
      
        figure{
            margin-top: 20px;
            margin-bottom: 30px;
            width: 400px;
            background: rgba(31, 30, 30, 0.582);
            border-radius:10px  ; 
            box-shadow: 0 10px 10px black;
            
            div {
            img{
                position: absolute; 
                border-radius:10px 10px 0 0  ; 
                object-fit: cover;
                 
            }
            h2{
                position: relative;
                top :120px;
                text-align: left;
                color: white;
                left: 55px;
    
                }
            }
    
           
         }
        }
    }
}