* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: arial;
  font-size: 3rem;
  text-align: center;
}

header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-transition: background-color .5s;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container h1 {
  font-family: verdana;
  padding-left: 10px;
}

.header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container li {
  list-style: none;
  padding: 10px 15px;
}

.header-container a {
  font-family: verdana;
  text-decoration: none;
  color: white;
  border: 1.5px  solid white;
  border-radius: 18px;
  padding: 2.5px 10px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  font-size: 1rem;
}

.header-container a:hover {
  background-color: white;
  color: black;
}

.banner {
  background-image: url(../img/banner1.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 900px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner div {
  position: absolute;
  width: 100%;
}

.banner div h1 {
  color: white;
  font-size: 5rem;
  font-family: verdana;
  text-align: center;
}

.banner div figure {
  text-align: center;
  padding-top: 150px;
}

.introduccion {
  max-width: 1330px;
  margin: auto;
  margin-top: 30px;
  border-bottom: 1px solid rgba(88, 38, 38, 0.74);
}

.introduccion .container-cafe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduccion .cafe p {
  font-family: arial;
  text-align: justify;
  font-size: 1.5rem;
  margin: 15px 0;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 100px;
}

.introduccion .pic img {
  border-radius: 5%;
  margin-right: 25px;
  margin-top: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tiposdecafe {
  max-width: 1330px;
  margin: auto;
  margin-top: 30px;
  border-bottom: 1px solid rgba(88, 38, 38, 0.74);
}

.tiposdecafe .figures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-left: 200px;
}

.tiposdecafe .figures figure {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  background: rgba(31, 30, 30, 0.582);
  border-radius: 10px;
}

.tiposdecafe .figures figure div img {
  position: absolute;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.tiposdecafe .figures figure div h2 {
  position: relative;
  top: 120px;
  text-align: left;
  color: white;
  left: 55px;
}

.tiposdecafe .figures figure .description {
  margin-top: 250px;
  padding: 0 15px;
  padding-bottom: 15px;
}

.tiposdecafe .figures figure .description p {
  font-family: verdana;
  list-style: circle;
  line-height: 25px;
  text-align: justify;
  font-size: 1rem;
  color: white;
}
/*# sourceMappingURL=styles.css.map */